[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
numpy = "*"
scikit-image = "*"
scikit-build = "*"
monai = "*"
nibabel = "*"
pillow = "*"
gdown = "*"
tqdm = "*"
lmdb = "*"
psutil = "*"
pandas = "*"
einops = "*"
pynrrd = "*"
matplotlib = "*"
pytorch-ignite = "*"
tensorboard = "*"
torchvision = "*"
uvicorn = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
